.octodex {
  max-width: 1376px;
  margin: 30px auto 0;
  padding: 0;
  font-size: 0;
}

.octocat {
  display: inline-block;
  position: relative;
  width: 444px;
  margin: 11px 11px;
  font-size: 16px;
}

.octocat:nth-child(3n) {
  margin-right: 0;
}

.octocat:nth-child(3n+1) {
  margin-left: 0;
}

.octocat img {
  width: 100%;
  border: 1px solid #cacaca;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* image-footer group */

.image-footer {
  position: relative;
  height: 50px;
  border-bottom: 1px solid #cacaca;
  font-weight: bold;
  color: #777777;
  margin-top: -4px;
}

.image-footer:before {
  content: "";
  width: 0;
  height: 0;
  display: block;
  position: absolute;
  top: 0px;
  right: 7px;
  border: 8px solid transparent;
  border-top-color: #cacaca;
}

/* clearfix */
.image-footer:after {
  content: "";
  display: table;
  clear: both;
}

.image-number {
  color: #cacaca;
  line-height: 50px;
  float: left;
}

.image-number:before {
  content: '#';
}

.image-caption {
  display: inline-block;
  line-height: 50px;
  float: right;
}

.image-caption a {
  color: #333333;
  text-decoration: none;
}

.image-caption span {

}

/* authors info */
.authors {
  display: inline-block;
  padding: 0;
}

.authors li {
  display: inline-block;
  line-height: 50px;
}

.authors img {
  vertical-align: middle;
  width: 28px;
  height: 28px;
}

@media screen and (max-width: 1380px) {

  .octodex {
    max-width: 915px;
  }
  .octocat:nth-child(even){
    margin-right: 0;
    margin-left: 11px;
  }

  .octocat:nth-child(odd){
    margin-left: 0;
    margin-right: 11px;
  }

}

@media screen and (max-width: 920px) {

  .octocat,
  .octocat:nth-child(even),
  .octocat:nth-child(odd) {
    display: block;
    margin: 20px auto;
  }

}
